[
{oneapi_srv, [
    {http_addr, {{oneapi_http_addr}}},
    {http_port, {{oneapi_http_port}}},
    {http_acceptors_num, 1},
    {customer_user_delimiter, <<":">>},
    {incoming_sms_queue,          <<"pmm.alley.oneapi.incoming.sms">>}
]},
{alley_services, [
    {just_gateway_queue_fmt,      <<"pmm.alley.just.gateway.%id%">>},
    {incoming_sms_queue,          <<"pmm.alley.oneapi.incoming.sms">>},
    {kelly_sms_request_queue,     <<"pmm.alley.kelly.request.sms">>},
    {kelly_api_queue,             <<"pmm.alley.kelly.api">>},
    {kelly_auth_queue,            <<"pmm.alley.kelly.auth">>},
    {kelly_events_exchange,       <<"pmm.alley.kelly.events">>},
    {kelly_events_listener_queue, <<"pmm.alley.kelly.events.listener.oneapi">>},
    {kelly_events_handler,        alley_services_events_handler},
    {http_log_level, debug}, % none | info | debug
    {http_log_size, 10000000},
    {pdu_log_level, debug}, % none | debug
    {pdu_log_size, 10000000},
    {country_code, <<"961">>},
    {strip_leading_zero, false},
    {bulk_threshold, 100}
]},
{rmql, [
    {amqp_props, [
        {host, "{{rabbitmq_host}}"},
        {port, {{rabbitmq_port}}},
        {username, <<"{{rabbitmq_username}}">>},
        {password, <<"{{rabbitmq_password}}">>},
        {vhost, <<"/">>},
        {qos, 100}
    ]},
    {survive, true},
    {rpc_timeout, {{rpc_timeout}}}
]},
{lager, [
    {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [
            {"log/debug.log", debug, 10485760, "$D0", 5},
            {"log/error.log", error, 10485760, "$D0", 5},
            {"log/info.log", info, 10485760, "$D0", 5}
        ]}
    ]},
    {crash_log, "log/crash.log"},
    {crash_log_msg_size, 65536},
    {crash_log_size, 10485760},
    {crash_log_date, "$D0"},
    {crash_log_count, 5},
    {error_logger_redirect, true}
]}
].
