[
{funnel_mini, [
    {amqp_host,             "{{rabbitmq_host}}"},
    {amqp_port,             {{rabbitmq_port}}},
    {amqp_username,         <<"{{rabbitmq_username}}">>},
    {amqp_password,         <<"{{rabbitmq_password}}">>},
    {amqp_virtual_host,     <<"/">>},
    {queue_backend_auth,    <<"pmm.alley.kelly.auth">>},
    {queue_backend_config,  <<"pmm.alley.funnel.config">>},
    {queue_backend_events,  <<"pmm.alley.funnel.events">>},
    {queue_backend_batches, <<"pmm.alley.funnel.request.sms">>},
    {queue_server_control,  <<"pmm.alley.funnel.control">>},
    {queue_nodes_prefix,    <<"pmm.alley.funnel.nodes">>},
    {queue_gateway_pattern, <<"pmm.alley.just.gateway.%id%">>},
    {reserve_credit,        1000.0}
]},

{alley_services, [
    {kelly_api_queue,             <<"pmm.alley.kelly.api">>},
    {kelly_events_exchange,       <<"pmm.alley.kelly.events">>},
    {kelly_events_listener_queue, <<"pmm.alley.kelly.events.listener.funnel">>},
    {kelly_events_handler,        fun_events_handler},
    {country_code, <<"961">>},
    {strip_leading_zero, false},
    {bulk_threshold, 100}
]},

{rmql, [
    {amqp_props, [
        {host, "{{rabbitmq_host}}"},
        {port, {{rabbitmq_port}}},
        {username, <<"{{rabbitmq_username}}">>},
        {password, <<"{{rabbitmq_password}}">>},
        {vhost, <<"/">>},
        {qos, 100}
    ]},
    {survive, true},
    {rpc_timeout, {{rpc_timeout}}}
]},

{lager, [
    {handlers, [
        {lager_console_backend, info},
         {lager_file_backend, [
           {"log/debug.log", debug, 10485760, "$D0", 5},
           {"log/error.log", error, 10485760, "$D0", 5},
           {"log/info.log", info, 10485760, "$D0", 5}
         ]}
    ]},
    {crash_log, "log/crash.log"},
    {crash_log_msg_size, 65536},
    {crash_log_size, 10485760},
    {crash_log_date, "$D0"},
    {crash_log_count, 5},
    {error_logger_redirect, true}
]},

{mnesia, [
    {dir, "data/mnesia"}
]},

{sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "log/sasl"}, % Log directory
    {error_logger_mf_maxbytes, 10485760}, % 10 MB max file size
    {error_logger_mf_maxfiles, 5}         % 5 files max
]},

{snmp, [
    {agent, [
        {config, [{dir, "snmp"}]},
        {db_dir, "data/snmp"}
    ]}
]}
].
